// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'custom';

@import "quill/dist/quill.core.css";

@font-face {
    font-family: 'Cygre';
    src: url('/fonts/Cygre.ttf') format('truetype'); // Замените путь, если шрифт в другом месте
    font-weight: normal;
    font-style: normal;
}

// Теперь установим его как базовый шрифт
body {
    font-family: 'Cygre', sans-serif;
}
